version: "3"

services:
  envoy:
    image: envoyproxy/envoy-alpine:v1.18.3
    ports:
      - 80:80
      - 9902:9902
    volumes:
      - ./envoy-with-consul.yaml:/etc/envoy/envoy.yaml
      - ./envoy_logs:/var/log
    environment:
      # this is done because there were some permission issues.
      # learn more here: https://www.envoyproxy.io/docs/envoy/latest/start/docker#start-docker
      - ENVOY_UID=0
